body {
    font-family: "Open-sans", sans-serif;
    color: #555;
}
h1{
    color:rgb(70, 70, 70);
    background-color: rgb(200, 200, 200);
    text-align:center;
}
img {
    height: 100px;
    text-align: left;
}
figcaption span {
    font-size:.85em;
}
p#product-description {
    margin: 20px 0;

}
div.review {
    border: 1px solid grey;
    padding-left: .85em;
}
div.review + div.review {
    border-top: none;
    padding-top: .1px; /*no idea why, but without this the border dissapears above the text*/
}
div.review:hover {
    background-color: rgb(194, 194, 194);
}